body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: left;
}

h1 {
    color: purple;
    margin-bottom: 10px;
    text-align: center;
}

#colorOptions button {
    margin: 5px;
}

form p {
    margin: 10px 0;
}

input[type="text"], select, textarea {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); /* điều chỉnh chiều rộng để khớp */
}

button {
    padding: 7px 15px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.select-box {
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.select-box:hover {
    background-color: #f0f0f0;
}

button[type="reset"] {
    background-color: #f44336;
}

button[type="reset"]:hover {
    background-color: #e53935;
}

/* ngày sinh */
.birth-container {
    display: flex;
    flex-direction: column;
}

.day-month {
    display: block;
    align-items: center;
    margin-bottom: 10px;
}

.year {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

label {
    margin-right: 10px;
}


.small-select {
    width: auto;
    min-width: 80px;
    padding-right: 10px;
}

textarea {
    width: calc(100% - 22px);
}
